{{ define "main" }}
<!-- Banner -->

{{ with .Params.banner }}
<section class="section pt-4">
  <div class="container">
    <!-- Hero title start  -->
    <div class="row justify-center">
      {{/* Title section */}}
      <div class="col-12 text-center">
        <h1 class="banner-title">{{ .title | markdownify }}</h1>
      </div>
      {{/* Tickets section start */}}
      <div class="col-12">
        <div
          class="flex justify-between items-center bg-theme-dark py-5 px-3 gap-2 flex-col md:flex-row"
        >
          <div class="flex gap-1">
            <span>
              <svg
                width="45"
                height="21"
                viewBox="0 0 45 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 10.5C14.4706 10.5 10 6.02941 10 0.5C10 6.02941 5.52941 10.5 0 10.5C5.52941 10.5 10 14.9706 10 20.5C10 14.9706 14.4706 10.5 20 10.5Z"
                  fill="white"
                />
                <path
                  d="M45 10.5C39.4706 10.5 35 6.02941 35 0.5C35 6.02941 30.5294 10.5 25 10.5C30.5294 10.5 35 14.9706 35 20.5C35 14.9706 39.4706 10.5 45 10.5Z"
                  fill="white"
                />
              </svg>
            </span>
            <span
              class="text-gold uppercase font-semibold text-lg mx-1 whitespace-nowrap"
            >
              tickets available
            </span>
            <span>
              <svg
                width="45"
                height="21"
                viewBox="0 0 45 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 10.5C14.4706 10.5 10 6.02941 10 0.5C10 6.02941 5.52941 10.5 0 10.5C5.52941 10.5 10 14.9706 10 20.5C10 14.9706 14.4706 10.5 20 10.5Z"
                  fill="white"
                />
                <path
                  d="M45 10.5C39.4706 10.5 35 6.02941 35 0.5C35 6.02941 30.5294 10.5 25 10.5C30.5294 10.5 35 14.9706 35 20.5C35 14.9706 39.4706 10.5 45 10.5Z"
                  fill="white"
                />
              </svg>
            </span>
          </div>

          <div
            class="text-white flex items-center gap-3 flex-wrap justify-center md:justify-stretch"
          >
            {{ range .tickets }}
            <p class="text-lg font-light uppercase">
              {{ .name | markdownify | safeHTML }}
            </p>
            {{ end }}
          </div>
        </div>
      </div>
      {{/* Tickets section end */}}
    </div>
    <!--  Hero Title end  -->

    <!--  Hero banner start -->
    <div
      class="row pl-0 mt-20 border-t border-t-border dark:border-darkmode-border flex-col xl:flex-row"
    >
      <!-- left section -->
      <div class="col-12 xl:col-6 pt-14">
        <div class="pr-0 xl:pr-16">
          <h2
            class="text-7xl md:text-[80px] 2xl:text-[110px] uppercase leading-[80px] md:leading-[110px] font-[500]"
          >
            {{ .sub_title | markdownify }}
          </h2>
          <div class="flex items-center">
            <div class="flex relative">
              {{ $total := len .banner_speaker_img }} {{ range $index, $img :=
              .banner_speaker_img }}
              <span
                class="-mr-4 relative"
                style="z-index: {{ sub $total $index }};"
              >
                {{ partial "image" (dict "Src" $img.src "Alt" "user image") }}
              </span>
              {{ end }}
              <span class="relative" style="z-index: 0">
                {{ partial "image" (dict "Src" "images/banner_plus_btn.png"
                "Alt" "plus icon image") }}
              </span>
            </div>

            <p
              class="ml-4 text-7xl md:text-[80px] 2xl:text-[110px] uppercase leading-[80px] md:leading-[110px] font-[500]"
            >
              CLOUD
            </p>
          </div>
        </div>
        <div class="flex mt-8 gap-4 text-lg">
          <p class="font-light"><b>Date:</b> {{ .date | markdownify }}</p>
          <p class="font-light">
            <b class="font-semibold">Venue:</b> {{ .venue | markdownify }}
          </p>
        </div>
      </div>
      <!-- right section -->
      <div
        class="col-12 xl:col-6 px-0 mt-16 xl:mt-0 justify-center items-center"
      >
        {{ partial "image" (dict "Src" .image "Alt" "banner image" "DisplayXL"
        "520x" "DisplayLG" "425x" "DisplayMD" "360x" "Class" "mx-auto") }}
      </div>
    </div>
    <!--  Hero banner end -->

    <!--  Banner features Start -->
    <div class="row px-0 border-y border-y-border dark:border-darkmode-border">
      <!-- Missions & Visions-->
      {{with .feature_mission}}
      <div
        class="col-12 xl:col-6 py-6 flex flex-col md:flex-row border-b border-b-border dark:border-darkmode-border md:border-none"
      >
        {{ partial "image" (dict "Src" .image "Alt" "missions image" "Class"
        "mx-auto") }}
        <div class="py-5 px-8">
          {{/* svg */}}
          <span class="mb-20 block">
            <svg
              width="42"
              height="44"
              viewBox="0 0 42 44"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.26256e-07 0.5H21L21 21.892H42C42 24.7307 41.4567 27.5417 40.4012 30.1642C39.3457 32.7867 37.7986 35.1694 35.8484 37.1761C33.8982 39.1828 31.5831 40.7741 29.0353 41.8592C26.4876 42.9443 23.7571 43.5018 21 43.5L21 22.108C20.9996 22.108 20.9992 22.108 20.9987 22.108C20.9381 27.7653 18.729 33.1764 14.8404 37.1775C10.9024 41.2295 5.56439 43.5037 0 43.5V21.892H18.0259C16.2915 21.6375 14.5909 21.1598 12.9647 20.4672C10.4169 19.3821 8.10179 17.7908 6.15158 15.7841C4.20137 13.7774 2.65431 11.3948 1.59879 8.77226C0.543279 6.14974 3.51713e-07 3.33878 9.26256e-07 0.5Z"
                fill="#222222"
                class="dark:fill-white"
              />
            </svg>
          </span>
          <h3 class="text-2xl font-normal uppercase mb-6">{{.title}}</h3>
          <p class="font-light uppercase text-sm leading-6">{{.description}}</p>
        </div>
      </div>
      {{end}}

      <!-- others-->
      <div class="col-12 xl:col-6">
        <div class="row md:h-full">
          <!-- speakers -->
          {{with .feature_speaker}}
          <div
            class="col-12 md:col-6 md:border-r md:border-r-border xl:border-x xl:border-x-border dark:border-darkmode-border h-full flex flex-col relative"
          >
            <!-- arrow -->
            <span class="absolute top-4 right-4">
              <svg
                width="50"
                height="50"
                viewBox="0 0 50 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="49.8373"
                  height="3.324"
                  transform="matrix(1 0 0 -1 0 3.46411)"
                  fill="#DBDBDB"
                />
                <rect
                  width="3.32249"
                  height="49.8599"
                  transform="matrix(1 0 0 -1 46.5156 50)"
                  fill="#DBDBDB"
                />
                <rect
                  width="3.32324"
                  height="66.4648"
                  transform="matrix(0.706946 0.707267 0.706946 -0.707267 0.664062 47.0083)"
                  fill="#DBDBDB"
                />
              </svg>
            </span>
            <div class="flex mt-36">
              {{ $total := len .speaker_images }} {{ range $index, $img :=
              .speaker_images }}
              <span
                class="-mr-4 relative"
                style="z-index: {{ sub $total $index }};"
              >
                {{ partial "image" (dict "Src" $img.src "Alt" "user image") }}
              </span>
              {{ end }}
            </div>
            <h3 class="text-3xl uppercase font-thin mt-9">{{.title}}</h3>
            <p class="font-thin text-sm uppercase mt-3">{{.description}}</p>
          </div>
          {{end}}

          <!-- highlight -->
          {{ with .feature_highlight }}
          <div
            class="col-12 md:col-6 p-8 relative bg-[#dbdbdb] dark:bg-[#202020] overflow-hidden mt-4 md:mt-0"
          >
            {{$shap := "/images/union-shap.png"}} 
            {{ partial "image" (dict "Src" $shap "Alt" "highlight image" "Class" "absolute top-3 right-0 width-full h-full ") }}
            <span>
              <svg
                width="48"
                height="24"
                viewBox="0 0 48 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="12" cy="12" r="12" fill="#FD5E09" />
                <circle cx="36" cy="12" r="12" fill="white" />
              </svg>
            </span>
            <h3 class="text-3xl font-thin uppercase mt-6">{{ .title }}</h3>
            <div class="flex mt-20 gap-6">
              <div>
                <span class="uppercase text-dark-gray">{{.tag}}</span>
                <p class="uppercase text-dark-gray font-thin">
                  {{.description}}
                </p>
              </div>
              <div
                class="bg-dark text-theme-light dark:bg-primary rounded-full p-6 flex flex-col justify-center items-center relative z-10"
              >
                <span class="text-xs uppercase">Joined</span>
                <b class="text-2xl uppercase font-semibold">{{.joined}}</b>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <!--  Banner features End -->
  </div>
</section>
{{ end }}
<!-- Banner -->

<!-- Features section start -->
{{ with.Params.features }}
<section>
  <div class="container">
    <!-- Title -->
    <div class="section-title">
      <h1>{{ .title }}</h1>
      <p>{{.description}}</p>
    </div>

    <!-- Features -->
    <div class="row py-14">
      <div class="col-12 xl:col-4 mb-10 xl:mb-0">
        {{ partial "image" (dict "Src" .image "Alt" "feature image" "Class"
        "w-full") }}
      </div>
      <div
      class="col-12 xl:col-8  border-l border-l-border dark:border-darkmode-border pl-12"
    >
      {{ $total := len .company_features }}
      {{ range $index, $feature := .company_features }}
      <div
        class="row 
         {{ if eq $index 0 }}pb-10{{ end }} 
        {{ if ne (add $index 1) $total }}border-b border-b-border dark:border-darkmode-border{{ end }} 
        {{ if not (eq $index 0) }}py-10{{ end }} 
        {{ if eq (add $index 1) $total }}pb-0{{ end }}"
      >
        <div class="col-4 md:col-6 p-0">
          <h3 class="uppercase text-xl md:text-2xl md:w-7/12">{{ $feature.title }}</h3>
        </div>
        <div class="col-8 md:col-6">
          <p class="md:text-lg font-light text-light dark:text-dark-gray">
            {{ $feature.content }}
          </p>
          {{ if $feature.button.enable }}
          <a href="{{ $feature.button.link }}" class="flex items-center gap-3 mt-4">
            <span class="uppercase text-sm"> {{ $feature.button.label }} </span>
            <span class="navigation-button-icon">
              <i class="fa fa-arrow-right text-xs"></i>
            </span>
          </a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    
    </div>
  </div>
</section>
{{ end }}
<!-- /Features section end -->

<!-- Tickets section start -->
{{ with site.GetPage "get-tickets/_index" }}
<section>

  {{ partial "components/tickets.html" . }}
</section>
<!-- Tickets section end -->
{{end}}

<!-- Testimonials -->
{{ with site.GetPage "sections/testimonial" }} {{ if .Params.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <p>{{ .Params.description | markdownify }}</p>
      </div>
      <div class="col-12">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            {{ range .Params.testimonials }}
            <div class="swiper-slide">
              <div
                class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10"
              >
                <div class="text-dark dark:text-white">
                  <svg
                    width="33"
                    height="20"
                    viewBox="0 0 33 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.28375 19.41L0.79375 18.64C1.21375 17.0067 1.75042 15.07 2.40375 12.83C3.05708 10.5433 3.75708 8.28 4.50375 6.04C5.29708 3.75333 6.06708 1.77 6.81375 0.0899959H15.3538C14.9338 2.09666 14.4904 4.26667 14.0238 6.6C13.5571 8.88666 13.1371 11.15 12.7638 13.39C12.4371 15.5833 12.1571 17.59 11.9238 19.41H1.28375ZM31.69 0.0899959L32.18 0.859998C31.76 2.54 31.2233 4.5 30.57 6.74C29.9167 8.98 29.2167 11.2433 28.47 13.53C27.7233 15.77 26.9533 17.73 26.16 19.41H17.69C18.0167 17.9167 18.3433 16.33 18.67 14.65C18.9967 12.9233 19.3 11.22 19.58 9.54C19.9067 7.81333 20.1867 6.15667 20.42 4.57C20.7 2.93666 20.91 1.44333 21.05 0.0899959H31.69Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
                <blockquote class="mt-8">
                  {{ .content | markdownify }}
                </blockquote>
                <div class="mt-11 flex items-center">
                  <div class="text-dark dark:text-white">
                    {{ partial "image" (dict "Src" .avatar "Size" "50x50"
                    "Class" "rounded-full" "Alt" .name) }}
                  </div>
                  <div class="ml-4">
                    <h3 class="h5 font-primary font-semibold">{{ .name }}</h3>
                    <p class="text-dark dark:text-white">
                      {{ .designation | markdownify }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          <div
            class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /Testimonials -->
{{ end }}
