{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-4">
  <div class="container">
    {{/* Top Hero start */}}
    <div class="row justify-center">
      {{/* Title section */}}
      <div class="col-12 text-center">
        <h1 class="banner-title">{{ .title | markdownify }}</h1>
      </div>
      {{/* Tickets section start */}}
      <div class="col-12">
        <div
          class="flex justify-between items-center bg-theme-dark py-5 px-3 gap-2 flex-col md:flex-row"
        >
          <div class="flex gap-1">
            <span>
              <svg
                width="45"
                height="21"
                viewBox="0 0 45 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 10.5C14.4706 10.5 10 6.02941 10 0.5C10 6.02941 5.52941 10.5 0 10.5C5.52941 10.5 10 14.9706 10 20.5C10 14.9706 14.4706 10.5 20 10.5Z"
                  fill="white"
                />
                <path
                  d="M45 10.5C39.4706 10.5 35 6.02941 35 0.5C35 6.02941 30.5294 10.5 25 10.5C30.5294 10.5 35 14.9706 35 20.5C35 14.9706 39.4706 10.5 45 10.5Z"
                  fill="white"
                />
              </svg>
            </span>
            <span
              class="text-gold uppercase font-semibold text-lg mx-1 whitespace-nowrap"
            >
              tickets available
            </span>
            <span>
              <svg
                width="45"
                height="21"
                viewBox="0 0 45 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 10.5C14.4706 10.5 10 6.02941 10 0.5C10 6.02941 5.52941 10.5 0 10.5C5.52941 10.5 10 14.9706 10 20.5C10 14.9706 14.4706 10.5 20 10.5Z"
                  fill="white"
                />
                <path
                  d="M45 10.5C39.4706 10.5 35 6.02941 35 0.5C35 6.02941 30.5294 10.5 25 10.5C30.5294 10.5 35 14.9706 35 20.5C35 14.9706 39.4706 10.5 45 10.5Z"
                  fill="white"
                />
              </svg>
            </span>
          </div>

          <div
            class="text-white flex items-center gap-3 flex-wrap justify-center md:justify-stretch"
          >
            {{ range .tickets }}
            <p class="text-lg font-light uppercase">
              {{ .name | markdownify | safeHTML }}
            </p>
            {{ end }}
          </div>
        </div>
      </div>
      {{/* Tickets section end */}}
    </div>
    {{/* Top Hero end */}}

    <!-- Bottom Hero start -->
    <div
      class="row pl-0 mt-20 border-t border-t-border dark:border-darkmode-border flex-col xl:flex-row"
    >
      <!-- left section -->
      <div class="col-12 xl:col-6 pt-24">
        <div class="pr-0 xl:pr-16">
          <h2
            class="text-7xl md:text-[80px] 2xl:text-[110px] uppercase leading-[80px] md:leading-[110px] font-[500]"
          >
            {{ .sub_title | markdownify }}
          </h2>
          <div class="flex items-center">
            <div class="flex relative">
              {{ $total := len .banner_speaker_img }} {{ range $index, $img :=
              .banner_speaker_img }}
              <span
                class="-mr-4 relative"
                style="z-index: {{ sub $total $index }};"
              >
                {{ partial "image" (dict "Src" $img.src "Alt" "user image") }}
              </span>
              {{ end }}
              <span class="relative" style="z-index: 0">
                {{ partial "image" (dict "Src" "images/banner_plus_btn.png"
                "Alt" "plus icon image") }}
              </span>
            </div>

            <p
              class="ml-4 text-7xl md:text-[80px] 2xl:text-[110px] uppercase leading-[80px] md:leading-[110px] font-[500]"
            >
              CLOUD
            </p>
          </div>
        </div>
        <div class="flex mt-14 gap-4 text-lg">
          <p class="font-light"><b>Date:</b> {{ .date | markdownify }}</p>
          <p class="font-light">
            <b class="font-semibold">Venue:</b> {{ .venue | markdownify }}
          </p>
        </div>
      </div>
      <!-- right section -->
      <div
        class="col-12 xl:col-6 px-0 mt-16 xl:mt-0 justify-center items-center"
      >
        {{ partial "image" (dict "Src" .image "Alt" "banner image" "DisplayXL"
        "520x" "DisplayLG" "425x" "DisplayMD" "360x" "Class" "mx-auto") }}
      </div>
    </div>
    <!-- Bottom Hero end -->
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Features -->
{{ range $i, $e:= .Params.features }}
<section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
  <div class="container">
    <div class="row items-center justify-between">
      <div
        class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6"
      >
        {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL"
        "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
      </div>
      <div
        class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6"
      >
        <h2 class="mb-4">{{ .title | markdownify }}</h2>
        <p class="mb-8 text-lg">{{ .content | markdownify }}</p>
        <ul>
          {{ range .bulletpoints }}
          <li class="relative mb-4 pl-6">
            <i class="fa fa-check absolute left-0 top-1.5"></i>
            {{ . | markdownify }}
          </li>
          {{ end }}
        </ul>
        {{ with .button }} {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }} {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Features -->

<!-- Testimonials -->
{{ with site.GetPage "sections/testimonial" }} {{ if .Params.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <p>{{ .Params.description | markdownify }}</p>
      </div>
      <div class="col-12">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            {{ range .Params.testimonials }}
            <div class="swiper-slide">
              <div
                class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10"
              >
                <div class="text-dark dark:text-white">
                  <svg
                    width="33"
                    height="20"
                    viewBox="0 0 33 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.28375 19.41L0.79375 18.64C1.21375 17.0067 1.75042 15.07 2.40375 12.83C3.05708 10.5433 3.75708 8.28 4.50375 6.04C5.29708 3.75333 6.06708 1.77 6.81375 0.0899959H15.3538C14.9338 2.09666 14.4904 4.26667 14.0238 6.6C13.5571 8.88666 13.1371 11.15 12.7638 13.39C12.4371 15.5833 12.1571 17.59 11.9238 19.41H1.28375ZM31.69 0.0899959L32.18 0.859998C31.76 2.54 31.2233 4.5 30.57 6.74C29.9167 8.98 29.2167 11.2433 28.47 13.53C27.7233 15.77 26.9533 17.73 26.16 19.41H17.69C18.0167 17.9167 18.3433 16.33 18.67 14.65C18.9967 12.9233 19.3 11.22 19.58 9.54C19.9067 7.81333 20.1867 6.15667 20.42 4.57C20.7 2.93666 20.91 1.44333 21.05 0.0899959H31.69Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
                <blockquote class="mt-8">
                  {{ .content | markdownify }}
                </blockquote>
                <div class="mt-11 flex items-center">
                  <div class="text-dark dark:text-white">
                    {{ partial "image" (dict "Src" .avatar "Size" "50x50"
                    "Class" "rounded-full" "Alt" .name) }}
                  </div>
                  <div class="ml-4">
                    <h3 class="h5 font-primary font-semibold">{{ .name }}</h3>
                    <p class="text-dark dark:text-white">
                      {{ .designation | markdownify }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          <div
            class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /Testimonials -->
{{ end }}
