{{ define "main" }}

  <section>
    <div class="container">
      <!-- Title -->
      <div class="mt-24">
        <span class="uppercase">// {{.Title}}</span>
      </div>
      <div class="section-title mb-10 mt-2 pt-0">
        
        <h1>{{ .Params.page_title }}</h1>
        <p>{{ .Params.description | markdownify }}</p>
      </div>
      <div class="row ">
        {{ range $index, $page := .Pages }}
        <div
          class="col-12 lg:col-6 xl:col-4 mb-10
          border-b border-b-border dark:border-darkmode-border pb-10
         "
        >
          <div class="lg:border-r lg:border-r-border dark:border-darkmode-border pr-7">
            {{ partial "components/speaker-card.html" $page }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
